.cards {
    grid-column: 2/5;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.sec{
    grid-column: 2/5;
    width: 100%;
    flex-wrap: wrap;
    display: flex; 
    /* justify-content: space-between; */
    gap: 2.5rem;
}
.header{
    display: flex;
    justify-content: space-between;
}

.set{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.set img {
    height: 45px;
    width: 45px;
}

.set h1{
    
    font-weight: 400;
    font-size: 2rem;
    color: #000;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:  #FFF;
    min-height: 320px;
    width: 220px;
    
}

.pic{
    display: flex;
    padding: .5rem;
}

.pic img{
    height: 100%;
    width: 100%;
}

.name{
    display: flex;
    padding: .5rem;
}

.name h4{
    font-weight: 600;
    font-size: 1.2rem;
    color: #000;
}

.info{
    display: flex;
    padding: .5rem;
}

.info span{
    font-weight: 400;
    font-size: 1rem;
    color: #A4ACAD;
}

.price{
    
    display: flex;
    border-top: 0.5px solid #A4ACAD;
}

.price span{
    font-weight: 700;
    font-size: 1rem;
    color: #000;
  
}

.price button {
    outline: none;
    border: none;
    color: #F2F2F2;
    background-color: #F46D40;
    padding: 10px 2rem;
    border-radius: 5px;
    cursor: pointer;

}

.padding{
    width: 100%;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}